<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Catgeorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Search Bar -->
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterCategories()"></ion-searchbar>

  <!-- Grid Layout -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let category of filteredCategories">
        <ion-card  [routerLink]="['/categorie', category.id]" color="none">
          <ion-img src="../assets/images/Rectangle 401.png"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ category.libelle }}</ion-card-title>
            <ion-card-subtitle >{{category.libelle}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
