
<div *ngIf="paniers.length >0; else videpanier">
<ion-header [translucent]="true">
  <ion-toolbar  class="head" >  
    <ion-title>
      Mon panier
    </ion-title>
    </ion-toolbar>
    
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="leftmarg">Produits</h2>
  <div class="card" *ngFor="let produit of paniers">
    <ion-card class="CARD">
      <div class="col image">
        <ion-img [src]="produit.fileInfo"></ion-img>
      </div>
      <div class="col nom">
        
        <h5>{{produit.libelle}}</h5>

        <h6>{{produit.prix}} F</h6>
        <!-- <h4>{{produit.totalUnitaire}} F</h4> -->

      </div>
      <div class="col bouton rightmarg">
        <div class="closebtn">
        <ion-button color="btn" fill="clear" class="textend" (click)="supCard()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </div>
        <div class="increbtnt">
         
          <ion-button size="small" class="left" fill="clear" (click)="decrementePrd(produit)">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>

          <h5>{{produit.id}}</h5>

          <ion-button size="small"class="textcolor " class="right" fill="clear" (click)="incrementePrd(produit)" >
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card>
  </div>
    <div class="total">
      <h4 class="leftmarg  color" >Total</h4>
      <h4 class="rightmarg">{{totalPanier}}FCFA</h4>
    </div>
<div class="passemd">
  
  <ion-button fill="clear" class="CMD" expand="block"> 
    <ion-icon name="chevron-down-circle-outline"></ion-icon>&nbsp;
    Procéder au payement</ion-button>
    
</div>
</ion-content>
</div>
<ng-template #videpanier>
  <app-panier-acuueil></app-panier-acuueil>
</ng-template>