<div *ngIf="paniers.length > 0; else videpanier">
  <ion-header [translucent]="true">
    <ion-toolbar class="head">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/detail"></ion-back-button>
      </ion-buttons>
      <ion-title> Mon panier </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <h2 class="leftmarg">Produits</h2>
    <div class="card" *ngFor="let produitCommandee of paniers">
      <ion-card class="CARD">
        <div class="col image">
          <ion-img [src]="produitCommandee.produit.fileInfo[0].url"></ion-img>
        </div>
        <div class="col nom">
          <h5>{{ produitCommandee.produit.libelle }}</h5>
          <h6>{{ produitCommandee.produit.prix }} F</h6>
        </div>
        <div class="col bouton rightmarg">
          <div class="closebtn">
         <ion-button
  color="btn"
  fill="clear"
  class="textend"
  (click)="supprimerProduit(produitCommandee)"
>
  <ion-icon name="close-outline"></ion-icon>
</ion-button>



          </div>
          <div class="increbtnt">
            <ion-button
              size="small"
              class="left"
              fill="clear"
              (click)="decrementePrd(produitCommandee)"
            >
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button>

            <h5>{{ produitCommandee.quantite }}</h5>

            <ion-button
              size="small"
              class="textcolor"
              fill="clear"
              (click)="incrementePrd(produitCommandee)"
            >
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card>
    </div>
    <div class="total">
      <h4 class="leftmarg color">Total</h4>
      <h4 class="rightmarg">{{ totalPanier }} FCFA</h4>
    </div>
    <div class="passemd">
      <ion-button
        fill="clear"
        class="CMD"
        expand="block"
        (click)="passerCommande()"
      >
        <ion-icon name="chevron-down-circle-outline"></ion-icon>&nbsp; Passer
        commande
      </ion-button>
    </div>
  </ion-content>
</div>

<ng-template #videpanier>
  <app-panier-acuueil></app-panier-acuueil>
</ng-template>
