iconpanier{
    transition:  transform 0.3s ease-in-out;
}

ion-tab-button{
    --color-focused:#ee4d2d;
    --color-selected:#ee4d2d;
    --ripple-color:none;
    
}



@media print {
    /* Styles spécifiques à l'impression */
    .azerty {
      border: none;
    }
  
 
  
    ion-tab-button {
      display: none;
    }
  }
