<<<<<<< HEAD

=======
iconpanier{
    transition:  transform 0.3s ease-in-out;
}

ion-tab-button{
    --color-focused:#ee4d2d;
    --color-selected:#ee4d2d;
    --ripple-color:none;
}
>>>>>>> 578e8dc (code)
