<ion-header [translucent]="true">
  <ion-toolbar  class="head" >
    <div class="entet">
    <div class="col">
      <ion-buttons class="retour">
        <ion-icon name="chevron-back-outline" ></ion-icon>
      </ion-buttons>
    </div>
    <div class="col TITRE">
      <ion-title>
      
        Mon panier
      </ion-title>
    </div>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <H1 class="oup">OUPS</H1>
  <div class="images">
    <ion-img src="assets/icon/panier.png"> </ion-img>

    <h2>Panier est vide</h2>
    <p>Aucun produit  <BR>disponbile dans votre panier</p>
  </div>

</ion-content>
