ion-header,
ion-toolbar.head {
    text-align: center;
  --background: #EE4D2D; /* Couleur de fond */
  color: white;
}
.oup{
   text-align: center;
   margin-top: 5rem; 
   font-weight: bold;
   font-size: 30px;
}
.images{  
 
}
.images p{
    color: black;
    text-align: center;
}
.images h2{
    font-weight: bold;
    color: #EE4D2D;
    text-align: center;
    
}
ion-img{
    height: 235;
    width: 223px;
    margin: auto
   
}