// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
<<<<<<< HEAD
=======
:root{

   --ion-color-primary: rgb(255, 98, 0);

    --back-color-pr:#EB4028;
    --back-color-se:#ffffff;
    --back-color-te:#000000;

}
>>>>>>> 578e8dc (code)
