// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --back-color-pr:#EB4028;
    --back-color-se:#ffffff;
    --back-color-te:#000000;
}