<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="confirmation-container">
    <img src="assets/icon/r.png" class="custom-icon" alt="Success Icon" />
    <p class="message">Commande passée avec succès</p>
    <span class="details">
      Votre commande a été passée avec succès.<br />
      Consultez l'état de la livraison dans l'onglet Profil.
    </span>
    <ion-button
      expand="block"
      class="view-receipt-button"
      (click)="navigateTo('recu')"
    >
      Voir le reçu
    </ion-button>
    <ion-button expand="block" fill="clear" (click)="navigateTo('accueil')">
      Retour à l'accueil
    </ion-button>
  </div>
</ion-content>
