<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">confirmation</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-bar-progression></app-bar-progression>

  <div  class="confirmation-container">
    <img src="assets/icon/checkmark.svg" class="custom-icon"/>
    <p class="message">Commande passée</p>
    <span class="details">Votre commande a été passée avec succès.
      Pour plus de détails, consultez l'état de la livraison 
      sous
      onglet Profil</span>
  </div>
  <ion-button fill="clear" class="view-receipt-button">voir le reçu</ion-button>
</ion-content>

