/* home1.component.scss */

$primary-color: #EE4D2D;
$dot-inactive-color: #ddd;
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  text-align: center;

  .content {
    margin-bottom: 20px;
  }
  h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
p{
  font-family: Arial, Helvetica, sans-serif;
  
  font-size: 20px;
  
}
  .image-container {
    margin-top: auto;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px; // Ajustez la largeur maximale selon vos besoins

    .skip-button {
      background: none;
      border: none;
      font-size: 1em;
      color: $primary-color;
      cursor: pointer;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: darken($primary-color, 10%);
      }
    }

    .pagination {
      display: flex;
      gap: 8px;
      align-items: center;

      .dot {
        width: 12px; // Taille augmentée
        height: 12px; // Taille augmentée
        border-radius: 50%;
        background-color: $dot-inactive-color;
        display: inline-block;
        transition: background-color 0.3s ease;
      }

      .dot.active {
        background-color: $primary-color;
      }
    }

    .next-button {
      background: none;
      border: none;
      font-size: 2em; // Taille augmentée pour plus de visibilité
      color: $primary-color;
      cursor: pointer;
      font-weight: 800; // Font-weight renforcé
      transition: color 0.3s ease;

      &:hover {
        color: darken($primary-color, 10%);
      }
    }
  }
}
