<!-- <ion-content>
  <div class="imagecontain">

    <img src="assets/logoo.png" alt="logo de l'entreprise Mirashop">
    <div class="recuinfo">
      <h3>REÇU A1B2C3</h3>
      <p>REF: RSTMZRSSJ</p>
    </div>

  </div>

    <div class="enteterecu">
      <div class="divpremierp">

          <p >A:</p>

      </div>


      <div class="partiedroite">
        <p>MARIAME DAOU</p>
        <p>YIRIMADJON</p>
        <P>BAMAKO/MALI</P>
      </div>


    </div>
    

  
</ion-content> -->


<ion-content>
  <div class="conteneurlogo">
    <img src="/assets/logoo.png" alt="">
    <div class="recuinfo">
     <h4>REÇU A1B2C3</h4> 
    <p>REF: EEA5T26Y7UZ</p>
    </div>
  </div>

  <section class="enteterecu">
    <div class="divpremierp">
      <p>A: </p>
    </div>
   

    <div class="partiedroite">
      <p>MARIAME</p>
      <p>YIRIMADJON</p>
      <p>BAMAKO/MALI</p>

    </div>
  </section>





  <div class="tableau">
    <p style="font-size: 8px; margin-left: 16px;">L'expéditeur garantit que cet envoi ne contient pas de matériel non expédiable </p>
    <div class="divpremierp">
      <p>De:</p>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-start ion-text-bottom">SNEAKERS</ion-col>
        <ion-col class="ion-text-start ion-text-bottom">42 points</ion-col>
        <ion-col class="ion-text-bottom">NOIR</ion-col>
        <ion-col class="ion-text-bottom">100000F CFA</ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col class="ion-text-start ion-text-bottom">SNEAKERS</ion-col>
        <ion-col class="ion-text-start ion-text-bottom">42 pt</ion-col>
        <ion-col class="ion-text-start ion-text-bottom">Blanche</ion-col>
        <ion-col class="ion-text-start ion-text-bottom">93500F CFA</ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col class="ion-text-bottom">Ordinateur</ion-col>
        <ion-col class="ion-text-bottom">Core i7 1102m</ion-col>
        <ion-col class="ion-text-bottom">1To SSD</ion-col>
        <ion-col class="ion-text-bottom">235000F CFA</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-bottom">Ordinateur</ion-col>
        <ion-col class="ion-text-bottom">Core i7 1102m</ion-col>
        <ion-col class="ion-text-bottom">1To SSD</ion-col>
        <ion-col class="ion-text-bottom">235000F CFA</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="azerty"></ion-col>
        <ion-col class="azerty"></ion-col>
        <ion-col class="azerty"></ion-col>
        <ion-col class="ion-text-bottom" style="border-left: solid 1px rgba(73, 71, 71, 0.534); color: red; font-weight: bold  ;">575000F</ion-col>
      </ion-row>
    </ion-grid>

  </div>
  
</ion-content>