.imagecontain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}


.imagecontain img{
    width: 15Opx;
    height: 150px;
}

.recuinfo{
    margin-right: 30px;
    padding: 0;
    line-height: 0px;

    align-items: end;
    display: flex;
    flex-direction: column;
}

.recuinfo h3{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

.recuinfo p{
    font-size: 12px;
    color: #292727;
    margin-top:10px;
    
}

.enteterecu{
    width: 100vw;
    margin-bottom: 100px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: #E3F1FF;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .divpremierp{
    width: 59px;
    margin-left: 20px;
    height: 22px;
    background-color: #EE4D2D;
    display: flex;
    align-items: center;
    
}

.divpremierp p{
    color: white;
    font-size: 15px;
    margin-left: 5px;
}

.partiedroite{
    font-size: 12px;
    font-weight: 500;
    margin-right: 5rem;
    letter-spacing: 0.3mm;
}

.partiedroite p{
    margin: 4px;
    text-transform: uppercase;
}

.imageimprimante, .pdficon{
  width: 40px;
  height: 40px;
  margin: 20px;
  // background-color: #ffffff;
}

.bouttonactions{
  display: flex;
  justify-content: center;
  align-items: center;
}




@media print {
  /* Styles spécifiques à l'impression */
  .azerty {
    border: none;
  }

  .impression, .pdficon{
    display: none;
  }
  

  ion-tab-button {
    display: none;
  }
}





.tableau {
  width: 100%;
}

.col-header, .col-content, .col-total {
  padding: 8px;
  border-bottom: solid 1px #ccc;
  text-align: left;
}

.col-header {
  font-weight: bold;
}

.col-total {
  color: red;
  font-weight: bold;
  text-align: right;
}

ion-col {
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
}














ion-col {
    background-color: #ffffff;
    border: solid 1px rgba(73, 71, 71, 0.534);
    color: #000000;
    padding-bottom: 0;
    width: 100vw;
    border-left: none;
    font-size: 12px;
    min-height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: left;
  }

  .conteneurlogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .recuinfo {
   display: flex;
   flex-direction: column;
   margin-right: 20px;
  }

  .recuinfo h4{
    font-weight: bolder;
  }

  .recuinfo p{
    font-size: 12px;
    align-self: flex-end;
    line-height: 0%;
    margin: 0;
  }

  .conteneurlogo img {
    height: 150px;
    width: 150px;
    filter: brightness(1.2) contrast(1.2);
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    // border-radius: 10px;
  }

  .azerty{
    border: none;
    border-bottom: solid 1px rgba(73, 71, 71, 0.534);
  }

  #sectiontete {
    background-color: rgba(26, 167, 223, 0.192);
    // margin-right: 50px;
    margin: auto;
    margin-bottom: 100px;
    padding: 10px;
    width: 95vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }

  .infosperso p{
    margin: 5px;
  }


  ion-toolbar {
    ion-back-button {
      width: auto;  /* Ajuste la largeur du bouton pour qu'il ne prenne que l'espace nécessaire */
      display: inline-flex;
      justify-content: center;  /* Centre le contenu horizontalement */
      align-items: center;  /* Centre le contenu verticalement */
      
      ion-icon {
        margin-right: 8px;  /* Ajuste l'espacement à droite de l'icône pour le texte */
      }
      
      span {
        font-size: 6px;  /* Ajuste la taille du texte */
      }
    }
  }
  







