<ion-content>
  <div class="conteneurlogo">
    <img src="/assets/logoo.png" alt="Logo de l'entreprise" />
    <div class="recuinfo">
      <h4>REÇU {{ '0000'+ recu?.id }}</h4>
      <p>REF: AEARTAY</p>
    </div>
  </div>

  <ng-container *ngIf="recu; else noRecu">
    <section class="enteterecu">
      <div class="divpremierp">
        <p>A:</p>
      </div>
      <div class="partiedroite">
        <p>
          {{ recu.payement.commande.client.prenom }} {{
          recu.payement.commande.client.nom }}
        </p>
        <p>{{ recu.payement.commande.client.adresse }}</p>
        <p>{{ recu.payement.commande.client.telephone }}</p>
      </div>
    </section>

    <div class="tableau">
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="col-header">Produit</ion-col>
          <ion-col size="3" class="col-header">Prix</ion-col>
          <ion-col size="3" class="col-header">Quantité</ion-col>
          <ion-col size="3" class="col-header">Sous-total</ion-col>
        </ion-row>

        <ion-row
          *ngFor="let produitCommande of recu.payement.commande.produitCommandees"
        >
          <ion-col size="3" class="col-content">
            {{ produitCommande.produit.libelle }}
          </ion-col>
          <ion-col size="3" class="col-content">
            {{ produitCommande.produit.prix }} F CFA
          </ion-col>
          <ion-col size="3" class="col-content">
            {{ produitCommande.quantite }}
          </ion-col>
          <ion-col size="3" class="col-content">
            {{ produitCommande.produit.prix * produitCommande.quantite }} F CFA
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="9" class="col-total-label"
            >Coût de Livraison :</ion-col
          >
          <ion-col size="3" class="col-total">
            {{ coutLivraison }} F CFA
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="9" class="col-total-label">Total :</ion-col>
          <ion-col size="3" class="col-total">
            {{ totalCommande }} F CFA
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>

  <ng-template #noRecu>
    <p>Aucun reçu disponible.</p>
  </ng-template>

  <div class="bouttonactions">
    <button class="pdficon" (click)="generatePDF()">
      <img src="assets/document.png" alt="Générer PDF" />
    </button>
    <button class="impression" (click)="imprimerPage()">
      <img class="imageimprimante" src="assets/imprimante.png" alt="Imprimer" />
    </button>
  </div>
</ion-content>
