.confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.recuinfo {
    margin-right: 30px;
    padding: 0;
    line-height: 0px;
    align-items: end;
    display: flex;
    flex-direction: column;
}

.enteterecu {
    width: 100vw;
    margin-bottom: 100px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: #E3F1FF;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableau {
    width: 100%;
}

.col-header, .col-content, .col-total {
    padding: 8px;
    border-bottom: solid 1px #ccc;
    text-align: left;
}

.col-header {
    font-weight: bold;
}

.col-total {
    color: red;
    font-weight: bold;
    text-align: right;
}

.bouttonactions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdficon, .imageimprimante {
    width: 40px;
    height: 40px;
    margin: 20px;
}

@media print {
    .impression, .pdficon {
        display: none;
    }
}
