.panier{
  background-color: orangered;
  border-radius: 10px;
  color: white;

  text-align: center;
}
.pousser{
  text-align: right;
}
.pousser2{
  margin-left: 20px;
}
.Notation{
  text-align: right;
}

