.contener {
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.select_contener {
  margin-top: 20px;
}

.contener_bouton {
  margin-top: 30px;
  text-align: center;
}

.boutonn {
  background-color: #ee4d2d;
  color: white;
  border-radius: 5px;
  text-transform: initial;
}

.new-label {
  color: green;
  font-weight: bold;
}
