.contener {
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.select_contener {
  margin-top: 20px;
}

.contener_bouton {
  margin-top: 30px;
  text-align: center;
}

.bouton {
  --background: #3880ff;
  --color: white;
}

.new-label {
  color: green;
  font-weight: bold;
}
