<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ajouter une Livraison</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contener">
  <form
    [formGroup]="livraisonForm"
    (ngSubmit)="onSubmit()"
    class="form-container"
  >
    <!-- Sélecteur pour choisir la commande -->
    <ion-item>
      <ion-label>Commande</ion-label>
      <ion-select formControlName="commandeId" interface="popover">
        <ion-select-option
          *ngFor="let commande of commandes"
          [value]="commande.id"
        >
          <!-- Affichage des informations pertinentes de la commande -->
          Commande #{{ commande.id }} - {{ commande.date | date:'short' }}
          <div *ngFor="let produit of commande.produitCommandees">
            {{ produit.produit.libelle }} x {{ produit.quantite }} à {{
            produit.produit.prix | currency }}
          </div>
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Champ de saisie pour l'adresse -->
    <ion-item>
      <ion-label position="floating">Adresse</ion-label>
      <ion-input formControlName="address" type="text"></ion-input>
    </ion-item>

    <!-- Sélecteur pour le type de livraison -->
<ion-item class="select_contener">
  <ion-label>Type de livraison</ion-label>
  <ion-select
    formControlName="deliveryType"
    interface="popover"
    class="custom-select"
  >
    <ion-select-option
      *ngFor="let type of typesLivraison"
      [value]="type.id"
      class="custom-option"
    >
      <div class="option-content">
        <span class="libelle">{{ type.libelle }}</span>
        <span class="prix">{{ type.prix | currency: 'XOF' }}</span>
        <span class="delai">({{ type.delai }} jours)</span>
      </div>
    </ion-select-option>
  </ion-select>
</ion-item>

    <!-- Bouton Enregistrer -->
    <div class="contener_bouton">
      <ion-button type="submit" expand="full" fill="clear" class="boutonn">
        Enregistrer
      </ion-button>
    </div>
  </form>
</ion-content>
