
// --------------------------------------------------------------------
#menu-outer {
	background:#ee4d2d;
  height: 70px;
  text-align: center;
  padding: 10px;
}

	ul#horizontal-list li {
		display: inline;
    margin-right: 25px;
    text-align: center;
	}
  li{
    color: #fff;
    text-decoration: none;
    
  }