<!-- <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button>
            <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Sous-cate</ion-title>
</ion-toolbar>
<ion-toolbar>
    <div class="segment">
        @for (item of ["items", "Nike", "Sneakers", "Cuirs"]; track $index) {
            <ion-button [color]="selectedButton === $index ? 'primary' : 'light'" 
            (click)="changeColor($index)">{{item}}</ion-button>
        }
    </div>
</ion-toolbar>
<ion-content>
    <ion-grid>
        <ion-row>
          @for (item of listFile; track $index) {
            
            <ion-col size="6">
                <div class="container" button (click)="navigate($index)">
                    <img src="{{item.image}}" alt="img" srcset="">
                    <div class="info">
                        <p><b>Nom du produit</b></p>
                        <div class="prix">
                            <span class="cate">CATE</span>
                            <span class="span"><b>3000</b><b> XOF</b></span>
                        </div>
                    </div>
                </div>
              </ion-col>
          }
        </ion-row>
      </ion-grid>
</ion-content> -->

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Sous-catégories</ion-title>
</ion-toolbar>

<ion-toolbar>
  <div class="segment">
    <ion-button
      *ngFor="let sousCategorie of sousCategories; let i = index"
      [color]="selectedButton === i ? 'primary' : 'light'"
      (click)="changeColor(i)"
    >
      {{ sousCategorie.libelle }}
    </ion-button>
  </div>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of listFile; let i = index" size="6">
        <div class="container" (click)="navigate(i)">
          <img [src]="item.image" alt="img" />
          <div class="info">
            <p><b>{{ item.name }}</b></p>
            <div class="prix">
              <span class="cate">{{ item.name }}</span>
              <span class="span"><b>{{ item.price }}</b><b> XOF</b></span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
